<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganaste Bro</title>
</head>
<body>
    <h1>Felicidades a divinaste la palabra</h1>
    <form id="Adivinar-form">
      <label for="palabra-adivinar">Palabra:</label>
      <input id="palabra-adivinar" type="text"/>
      <input type="submit" value="ADIVINAR" id="boton-adivinar" />
    </form>
    <div id="resultado-div"></div>
    <div id="contar"></div>
    <div id="letras-div"></div>
    <div id="letras-incorrectas-div"></div>
    <div id="letras-no-existen-div"></div>
    <script type="module" src="./src/presenter.js"></script>
  </body>
</html>